// COLORS
$white: #ffffff;
$black: #000;
$dark: #1f1f1f;
$light-grey: #e4e4e4;
$grey: #505050;
$dark-grey: #333;
$yellow: #ffdf1b;
$green: #189970;

// SPACING
$spacing-xs: 2px;
$spacing-sm: 4px;
$spacing-md: 8px;
$spacing-lg: 16px;
$spacing-xl: 32px;
$max-width: 900px;

// STYLING
$box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
  rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
$border-r7: 7px;
$border-r10: 10px;
$border-r15: 15px;
